<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913051474227-96817dhli2to6idnstpsud43u4gfg6ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913051474227-96817dhli2to6idnstpsud43u4gfg6ug</string>
	<key>API_KEY</key>
	<string>AIzaSyBdJlbYVkkML_Rtutcp1jEL0kcHFs7Dzhc</string>
	<key>GCM_SENDER_ID</key>
	<string>913051474227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ContactBeta</string>
	<key>PROJECT_ID</key>
	<string>contact-5939a</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-5939a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913051474227:ios:de749bc4b8d428ea</string>
	<key>DATABASE_URL</key>
	<string>https://contact-5939a.firebaseio.com</string>
</dict>
</plist>